/*including All Css File*/

@import url("custom-checkbox.css");
@import url("custom-font.css");
@import url("custom-switch.css");
@import url("font-awesome.min.css");


/*including All Css File*/



/* Base Css
-------------------------------------------------- */
body{  font-family: 'open_sanslight';}
.modal-content {
    box-shadow: none;
    background: url("../img/pattern3.png") repeat #3c3c3c;
    width: 700px;

}
.bordered_group{ border-top:1px solid rgba(255, 255, 255, 0.1); padding-top: 30px; margin-top:20px;  }
.padding-left-none{ padding-left: 0px; }
.padding-right-none{ padding-right: 0px; }
.border-thick-bottom {
  border-bottom: 3px solid #d4d4d4;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.glyphicon {
  color:#fff;
}
/* Top Nav Settings
-------------------------------------------------- */
.right-inner-addon h2{
    font-family: 'oxygenregular';
    margin-top: 0px;  margin-bottom:0px; color: #fff;  }
.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.text-blue {
    color: #3fbbe7;
}

.logo-mini > img {
    margin-top: 12px;
    width: 44px;
}

 li.active .fa,
 li.active a span{
    color: #fff;
 }

.sidebar-menu .fa {
    font-size: 25px;
    padding-right: 33px;
}

.navbar-custom-menu .fa-shopping-basket {
  font-size: 30px;
}

.badge-custom {
    position: absolute;
    right: 19px;
    top: 16px;
    background-color: #9371CD;
}

 .logo-lg > img {
    padding: 2px 0;
    width: 171px;
}
.border_radius {
  background: #272727 none repeat scroll 0 0;
  border: 1px solid #1f1f1f;
  border-radius: 50%;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 25px;
  z-index: 999;
}

.view-cart {
    margin-right: 13px;
}

.dropdown-menu::after {
    position: absolute;
    top: -14px;
    left: 33px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 14px solid #f730a6;
    border-left: 11px solid transparent;
    content: '';
}
li.noticfication a.dropdown-toggle {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 18px;
  height: 37px;
  margin-top: 19px;
  padding: 7px !important;
  text-align: center;
  width: 37px;
}
li.noticfication a.dropdown-toggle:hover, li.noticfication.open a.dropdown-toggle{ background: #000; }
.pink-dot {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  height: 14px;
  position: absolute;
  right: -7px;
  top: 5px;
  width: 14px;
}

.dropdown-menu::before {
    position: absolute;
    top: -15px;
    left: 25px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #2d2f3c;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
}

.view > a {
    padding: 27px !important;
}

.right-inner-addon {
    position: relative;
    text-align:center;
}

.right-inner-addon .fa-search {
    font-size: 27px;
    padding: 6px 9px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    color: #7d7a7a;
}

.search-top {
    padding: 20px 2px 17px 24px;
}

.search-top .form-control {
    height: 47px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.17) inset;
}

 .shoping-cart-table tr{ border-bottom:1px solid #d4d4d4  }
 .shoping-cart table select.form-control {
  width: 217px;
}
.offset-margin-top {
  margin-top: 105px;
}
.shoping-cart .total_table table tr td{ border-top: none; padding:5px; }
.total_table {
  background: #f2f2f2 none repeat scroll 0 0;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 14px  0px 0 38px;
}


/* Footer
-------------------------------------------------- */
.heading-top h1 {
    color: #353535;
    font-size:28px;
    font-weight: 600;
    margin-top: 13px;
    padding-bottom: 15px;
}
.heading-top button, .heading-top .my-search{ margin: 10px 0px;} 
.heading-top{ border-bottom: 3px solid #ccc; float: left;}


/* Educational Info Modal
-------------------------------------------------- */

body .Educational-info label.control-label {
    text-align: left ;
}

.Educational-info .modal-body {
    padding: 20px 50px 20px;
}

.Educational-info .modal-content {
   position: relative;
    border: 1px solid #000;
    border-radius:10px;
}

.Educational-info .form-control, .Educational-info select.form-control {
  background: #292a2a none repeat scroll 0 0;
  border: 1px solid #525252;
  border-radius: 8px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 1) inset;
  height: 40px;
  color:#fff;
}


.Educational-info textarea {
    height: auto !important;
}

.Educational-info .modal-header {
    border-bottom: none;
}

.Educational-info .modal-title, .schedule .nav.nav-tabs {
    border-bottom: 1px solid rgba(255, 255, 255 , 0.1);
    color: #f3f3f3;
    font-size: 24px;
    padding-bottom: 16px;
}
.schedule .nav.nav-tabs{ padding-bottom: 0px; }
.Educational-info.schedule .modal-title{ border-bottom:none;  }

.Educational-info label {
    font-size: 14px;
    font-weight: normal;
    color:#f3f3f3;
    text-align: right;
}

.btn-blue {
    background-color: #2895f6;
    color:#fff;
    border-radius: 9px;
    font-size: 22px;
    font-weight: 600;
    padding: 7px 60px;
    box-shadow:  0px 2px 0px #006bca;
    margin-top: 10px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active{
    color:#fff;
    background-color: #2b8be0;
}
.cal-posi {
  color: #fff;
  position: absolute;
  right: 27px;
  top: 13px;
}
.relative_class{ position: relative; }

textarea {
    resize: none;
}

.submit-pass {
    margin-bottom: 0
}


/* Favorites 
-------------------------------------------------- */
.fa-files-o ,
.dashboard-box .fa-users,
.fa-graduation-cap{
    font-size: 100px;
    padding: 30px;
    color:#e9e9e9;
}

.dashboard-box .fav-price {
    font-size: 30px;
}

.blue-file i {
    color:#2895f6;
}

.yellow-file i {
    color:#efbc7e;
}

.flaged-file i {
    color:#ff7373;
}

.box-border {
    border:1px solid #e9e9e9;
    border-radius: 10px;
    box-shadow:4px 4px 4px #f7f7f7;
    margin-bottom: 20px;
}

.bottom-section li  {
   border-right: 1px solid #ccc;
    line-height: 30px;
    width: 50%;
    box-sizing: border-box;
}

.bottom-section li:last-child  {
    border-right: transparent;
}

.bottom-section ul {
    margin-bottom: 0;
}

.bottom-section  {
     border-top:1px solid #e9e9e9;
     font-size: 12px;
}

.bottom-section .fa-shopping-basket,
.bottom-section .fa-flag {
    font-size: 16px;
}

.background-file {
    background-color: #fafafa;
    border-radius: 10px;
    padding-bottom:10px;

}

.bottom-section .report a {
    color: #ff7373;
    text-align: center;
}

.bottom-section .report:hover{
    background-color: #ff7373;
    border-bottom-right-radius: 10px;
    color:#fff!important;
}

.bottom-section li a {
    color:#2d2f3c;
    font-size: 12px;
    display: block;
    padding: 5px 0;
} 

.bottom-section .add-to-cart:hover{
    background-color:#9371CD; 
    border-bottom-left-radius: 10px;
}

.bottom-section li a:hover{
    color:#fff;
}

.bottom-section .list-inline li {
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    float: left;
    text-align: center;
}

.bottom-section .list-inline {
    margin-left: 0;
}

.fav-price {
    color: #9371cd;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.file-name {
    color:#989898;
    font-size: 18px;
    font-weight: 600;
}

.report span,
.add-to-cart span {
    margin-left: 5px;
}

.find-note-taker .btn-blue {
    padding:7px 20px;
    font-size: 16px;
    font-weight: 500;
}

.find-text{
    color:#818181;
    font-size: 20px;
    vertical-align: text-top;
    margin-right: 20px;
}

.find-note-taker  {
    margin-top: 30px;
}

.pagination > li > a, .pagination > li > span {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.pagination-nav {
    float: right;
}
.find-note-taker {
    float: left;
}

/* Confirmation Modal
-------------------------------------------------- */


.confirmation .modal-title {
    font-size: 31px;
}

.confirm-note-text {
    color: #7d7a7a;
    font-size: 18px;
}

.confirmation .form-control {
    border:1px solid #e9e9e9;
    box-shadow: none;
}

.fa-times-circle {
    color: #9371cd;
}

.close {
    opacity: 1;
}


/* Are You Sure Modal
-------------------------------------------------- */
.are-sure .btn-blue {
    width: 150px;
    padding: 10px 0;
    margin-right: 5px;
    margin-bottom: 20px;
}

.are-sure .confirm-note-text {
    margin-bottom: 11px;
    margin-top: 25px;
}

/*Common buttons css*/
.add_button, .my-search button, .small_buttons, .submit_black, .Educational-info .nav-tabs > li a, a.add_button{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,282828+100 */
background: #6d6d6d; /* Old browsers */
font-family: 'open_sansregular';
background: -moz-linear-gradient(top, #6d6d6d 0%, #282828 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6d6d6d 0%,#282828 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6d6d6d 0%,#282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
border:1px solid #000; box-shadow: inset 0px 1px 0px 0px #999999; padding:0 46px; height: 42px; line-height: 42px; font-size: 18px; color: #fff; text-shadow:1px 1px 0px 1px #000; border-radius: 8px; margin: 0px 15px;   }
.add_button:hover, .my-search button:hover,  .pink-dot, .small_buttons:hover, .submit_black:hover , .Educational-info .nav-tabs > li.active > a, .Educational-info .nav-tabs > li.active > a:focus, .Educational-info .nav-tabs > li.active > a:hover, .Educational-info .nav-tabs > li a:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f93bac+0,ed038d+100 */
  background: #f93bac; /* Old browsers */
  background: -moz-linear-gradient(top, #f93bac 0%, #ed038d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f93bac 0%,#ed038d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f93bac 0%,#ed038d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93bac', endColorstr='#ed038d',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ed038d;
  border-radius: 8px;
  box-shadow: 0 1px 0 0 #fe77c7 inset;
  color: #fff !important;
  outline: none;
}
.add_button.rounderd {
  border-radius: 50%;
  padding: 0 17px;
}
.add_button{ margin:10px 10px ; padding: 0px 15px; line-height:40px; }

/*Common buttons css end*/

.posi > span {
  color: #949494;
  font-size: 13px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.padding-right-none.posi span{ right:10px; }
.posi{ position: relative; }

.posi .form-control {
  padding-right: 36px;
}
.Educational-info .nav-tabs > li.active > a, .Educational-info .nav-tabs > li.active > a:focus, .Educational-info .nav-tabs > li.active > a:hover, .Educational-info .nav-tabs > li a, .Educational-info .nav-tabs > li a:hover{ border-radius:8px 8px 0px 0px; margin: 0px 5px }
.add_button:focus{ color:#fff; outline: none; }
.my-search input, .edit_schedule_form input[type="text"], .edit_schedule_form input[type="tel"], .edit_schedule_form select {
  height: 42px;
  border: none;
  background: #fff;
  box-shadow: none;
  border-radius:8px;
}
.my-search button{ height: 42px; padding-left:15px;  padding-right: 15px; }

body .table.shoping-cart-table a.small_buttons, a.small_buttons, button.small_buttons {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 25px;
  line-height: 20px;
  margin: 0 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
a.button_green{ border: 1px solid #3c8b08;
     box-shadow: 0 1px 0 0 #51c305 inset;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48af04+0,367f06+100 */
background: #48af04; /* Old browsers */
background: -moz-linear-gradient(top, #48af04 0%, #367f06 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #48af04 0%,#367f06 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #48af04 0%,#367f06 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48af04', endColorstr='#367f06',GradientType=0 ); /* IE6-9 */ }
/* Uploads
-------------------------------------------------- */
.upload-strip {
    background-color: #e2e2e2;
    border-bottom: 1px solid #ccc;
    color: #7c7979;
    font-size: 24px;
    padding: 5px 26px;
}

.upload-page .table > thead > tr > th  {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#2d2f3c;
    border-bottom: none;
}
.table.shoping-cart-table a {
  color: #333;
}

.upload-page .table > thead > tr > th, 
.upload-page .table > tbody > tr > th, 
.upload-page .table > tfoot > tr > th, 
.upload-page .table > thead > tr > td, 
.upload-page .table > tbody > tr > td, 
.upload-page .table > tfoot > tr > td {
    border-top: none;
    padding: 16px;
   
}

.upload-page .table > tbody > tr > td {
     font-size: 16px;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;

}

.custom-switch {
    margin-right: 15px;
}

.fa.custom-bg-edit.fa-pencil-square-o {
    background: #e2e2e2 none repeat scroll 0 0;
    border-radius: 20px;
    color: #333;
    padding: 6px;
}

.box-border-uploads {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #f7f7f7;
    margin-bottom: 20px;

}

.upload-notes {
    font-size: 20px;
    color:#c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
}


.upload-section .background-file:hover,
.upload-section .background-file:hover .upload-notes{
    background-color:#2895f6;
    color: #fff; 
    border-radius: 10px;

}


.bottom-uploads.clearfix {
    margin-top: 40px;
}
.add-class p {
    font-size: 16px;
    color: #9a9a9a;
    font-family: 'Open Sans', sans-serif;
}

.add-class  .modal-dialog {
    width: 760px;
}

.add-class .modal-body {
    padding-top: 0;
}

.under-construction .img-responsive {
    margin: 0 auto;
}

.add-class-des {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 22px;
}

.box-border-uploads .background-file {
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color:#fff!important;
    background-color: #2895f6;
    display: inline-block;
    padding: 7px 30px;
    box-shadow: 0 2px 0 #006bca;
    border-radius: 9px;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #2b8be0;
    border-radius: 9px;
}

.upload-auth-box .fa-files-o, 
.upload-auth-box  .dashboard-box .fa-users, 
.upload-auth-box  .fa-graduation-cap {
    font-size: 130px;
}

.upload-auth-box  .upload-notes{
    font-size: 27px;
}




.regular-user-des {
    font-size: 30px;
    margin-bottom: 20px;
}

.upload-reg .upload-notes {
    font-size: 28px;
}

.fa-exclamation-triangle {
    color: #ebcd00;
}
.upload-reg .fa-files-o, 
.upload-reg  .dashboard-box .fa-users,
 .upload-reg  .fa-graduation-cap {
    font-size: 120px;
 }



 .upload-note-classes .form-control {
    height: 50px;
    border-radius: 10px;
    box-shadow:0  0 8px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 300;

 }
 .upload-note-classes label {
    font-weight: 500;
    font-size: 16px;
    color: #7d7a7a;
 }
  .upload-note-classes textarea {
    height: auto !important;

  }


 
/* Create A Quote
-------------------------------------------------- */
.content.shoping-cart.clearfix {
  padding-top: 20px;
}
.shoping-cart .fa-files-o{
    font-size: 60px;
    padding:20px;
}

.shoping-product {
    background: #FAFAFA none repeat scroll 0 0;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    color: #fff;
}

.shoping-cart-table tr:hover {
    background-color: transparent;

}
.shoping-cart-table tr:hover .shoping-product {
    background-color: #9371CD;

}

.shoping-cart-table > tbody > tr > td, 
.shoping-cart-table > tbody > tr > th, 
.shoping-cart-table > tfoot > tr > td, 
.shoping-cart-table > tfoot > tr > th, 
.shoping-cart-table > thead > tr > td, 
.shoping-cart-table > thead > tr > th {
    border-top: none;
}

.shoping-cart-table > thead > tr > th {
    border-bottom: none;
}


.shoping-cart-table > thead > tr > th {
    border-bottom: medium none;
    color: #2d2f3c;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.shoping-cart-table  > tbody > tr > td {
      font-family: 'open_sanslight';
    font-size: 18px;
    font-weight: 100;
}

.shoping-cart-bottom {

    border-top: 5px solid #ccc;
    color: #7d7a7a;
    font-size: 30px;
    margin-top: 13px;
    padding-bottom: 15px;

}

.btn-checkout {

     background-color: #2895f6;
    border-radius: 9px;
    box-shadow: 0 2px 0 #006bca;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    padding: 7px 20px;

}

.order-type-err-msg {
    width: 70%;
    position: absolute;
    margin-top: 24px;
    margin-left: 228px;
}

.pnotify-custom {
    margin: 0 auto;
    left: 0 !important;
}

.update-measures-table .input.text {
  float: left;
}
 .table.shoping-cart-table a.add_button.file {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
ul.checkedup li {
    position: relative;
}
ul.checkedup li a:hover i , ul.checkedup li.selected a i{
    font-size: 28px;
    top: 47px;
    transition: all 0.1s ease 0s;
}
ul.checkedup li a i {
    position: absolute;
    top: -20px;
    left: 46px;
    color: #f94eb3;
}

ul.checkedup li:hover, ul.checkedup li.selected {
  border: 1px solid #f94eb3;
}
ul.my_sche li{  list-style: none; line-height:30px; display: inline-flex; margin-top: 5px;}
ul.my_sche { float:none;
          padding-left:0px;
          width:auto;
           }
body input.form-control.custom-input_large{
         width:225px;
} 
.my_sche b{ margin:0px 10px;  }
.my_sche p{ font-weight:600; } 

 body .edit_schedule_form .col-sm-1.minusedit span, body .edit_schedule_form .col-sm-1.plusedit span {
  background: #fff none repeat scroll 0 0;
  color: #333;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

/* Custom Select
-------------------------------------------------- */


@media screen and (min-width: 0) {
    /* for relatively modern browsers including IE 8+ */
    
    select {
        border-radius: 4px;
        /*background: url('../img/custom-select-arrow.png') no-repeat #fff !important;*/
        background-position: right !important;
    }
     select#department-id {
        border-radius: 4px;
        background: url('../img/custom-select-arrow.png') no-repeat #262626 !important;
        background-position: right !important;
    }
   .schedule select , select.popup_sel{
  
        /*background: url('../img/schedulecustom-select-arrow.png') no-repeat #262626 !important;*/
        background-position: right !important;
        color:#949494;

       
    }
    body .select.popup_sel option, body .schedule select option{ color: #fff; }
    .schedule select option{ color: #fff }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        select {
            -webkit-appearance: none;
            background-position: right center;
            padding: 3px 32px 3px 5px;
        }
    }

    @-moz-document url-prefix() {
        /* for Firefox */
        select {
            display: flex;
            border: 0;
            box-shadow: inset 0 0 1px #000;
            background-position: right center;
            padding-right: 16px;
            color: transparent;
            /* this shifts the text down a few pixels and removes the focus-ring */
            text-indent: 2px;
        }
        select * {
            color: black;
            text-shadow: none;
        }
    }

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        /* for IE10+ */
        select::-ms-expand {
            display: none;
        }
        select {
            background-position: right center;
            padding-right: 30px;
        }
    }

.custom-select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-shadow: 1px 1px 5px 0 #c8c8c8 inset;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 1;
  width: 200px;
}
body .schedule .custom-select{ width:100%; background:#262626 }
    body select.custom-select {
    -moz-appearance: none;
    appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
}

    .custom-select:hover {
        border-color: #999;
    }

    .custom-select:before {
        color: #555;
        display: block;
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        z-index: -1;
    }

    .custom-select select {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        color: #555;
        display: block;
        font-size: 100%;
        line-height: normal;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .custom-select select::-ms-expand {
        display: none;
        /* to ie 10 */
    }

    .custom-select select:focus {
        outline: none;
    }

    /* little trick for custom select elements in mozilla firefox  17/06/2014 @rodrigoludgero */
    /* pseudo class https://developer.mozilla.org/en-US/docs/Web/CSS/:any */
    
    :-moz-any(.custom-select):before {
        background-color: #fff;
        /* this is necessary for overcome the caret default browser */
        
        pointer-events: none;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
        
        z-index: 1;
        /* this is necessary for overcome the pseudo element */
    }

/* Create Quote css start From here */
.Create_qoute{}
.Create_qoute .form-control{background: #fff; 
   /* border: none;*/
    box-shadow: none;
    height: 40px;
    border-radius:8px;
}
.Create_qoute .control-label {
  line-height: 40px;
}

.icon_work i{ font-size: 16px; margin:10px; color: #333;}
.Create_qoute textarea.form-control{ height: 100px; }
.note-listing.col-lg-12 {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  float: left;
  padding: 20px;
}
.note-listing > div[class*=col]{ padding-left: 0px; }

.menu-open {
  display : block !important;
}
.treeview .active {
  background: #282828 none repeat scroll 0 0;
  color: #fff;
}
.modal-title {
    color: #fff !important;
}

label.error {
  color: red !important;
  font-size: 12px;
 
}

.form-control.custom-input {
 border: medium none;
 box-shadow: none;
 float: left;
 margin-left: 10px;
 width: 120px;
}

.margin-zero{
  margin-top: 0px;
  margin-bottom: 0px;
}
li.flags{ margin-top:10px; }
li.flags a{ padding-left:5px  }

.margin-top-acchor a {
  margin-top: 10px;
}

body .print-no-margin {
  margin-left: 0px;
}

.quote-add-table .custom-select.item-quantity {
  width: 70px;
}
.quote-add-table .custom-select.quote-item-select, .quote-add-table .custom-select.item-tax  {
  width: 125px;
}
.quote-add-table .custom-select.quote-unit-select {
  width: 217px;
}

.archived-margin-top {
  margin-top: 10px !important;
}
.col-lg-11.browse-area li {
    display: inline-block;
    overflow: hidden;
    margin: 6px;
    height: 120px;
    width: 120px;
  }
  .browse-area {
  background: #333333 none repeat scroll 0 0;
  border: 1px solid #525252;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #181818 inset;
  float: none;
  margin: 25px auto;
  padding: 25px;
}
ul.checkedup li:hover img , li.selected img  {
  opacity: 0.3;
}
.modal-dialog{
     overflow-y: initial !important
}
.modal-body{
 height: 420px;
 overflow-y: auto;
}
.one_col, .three_col{ width:10%; float: left;}
.one_col b, .one_col b a , .three_col b a { font-weight: 600; color: #333; }
.three_col{ width:48%; }
.bordered_head {
  
  margin-bottom: 10px;
  padding-bottom: 15px;
  width: 100%;
  float: left;
}
.full_width{width:100%; float: left; margin-bottom: 5px;}
p.filled {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  display: inline-block;
  height: 100px;
  padding: 10px;
  width: 100%;
}
 .full_width{ width:100%; float: left; }

 .info_filled {
  line-height: 40px;
  margin-bottom: 0;
}
 .content-wrapper.invoice_detail {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d0d0d0;
  margin: 0 auto;
  width: 1300px;
}
.content-wrapper.invoice_detail p.filled{ border:1px solid #d0d0d0; } 
.content-wrapper.invoice_detail .table.shoping-cart-table.table-responsive td,  .content-wrapper.invoice_detail  .table.shoping-cart-table.table-responsive tr:last-child td {
  border-left: 1px solid #c2c2c2;
  padding-left: 20px;
}
.content-wrapper.invoice_detail .table.shoping-cart-table.table-responsive th{ background: #333; color: #fff; padding-left: 20px;}
.content-wrapper.invoice_detail .table.shoping-cart-table.table-responsive tr{ border-bottom:none; }
.content-wrapper.invoice_detail .note-listing.col-lg-12{ padding:0px;  }
/* */
/* Media Queries
-------------------------------------------------- */


    @media only screen and (min-width: 320px) and (max-width: 767px) {

    .upload-auth-box .fa-files-o, 
    .upload-auth-box  .dashboard-box .fa-users, 
    .upload-auth-box  .fa-graduation-cap {
        font-size: 100px;
    }

        .upload-auth-box  .upload-notes{
            font-size: 23px;
        }


        .upload-reg .fa-files-o, 
        .upload-reg  .dashboard-box .fa-users,
         .upload-reg  .fa-graduation-cap {
            font-size: 80px;
         }

         .upload-reg .upload-notes {
            font-size: 20px;
        }

        .regular-user-des {
            font-size: 25px;
        }

        .add-class .modal-dialog {
            width: auto;
        }

        .Educational-info .modal-body {
             padding: 5px 15px 29px;
        }

         .confirmation .btn-blue {
            width: 100%;
         }

        .btn-add-cart,
        .btn-flag{
            width: 100%;
        }

       .find-note-taker-view.text-right {
            text-align: left;
        }

        .fav-description .dl-horizontal dt {
            color: #878787;
            float: left;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 5px;
            width: 131px !important; 
        }

        .fav-description dd {
            margin-left: 154px;
        }

        .find-note-taker-view {
            margin-top: 50px;
        }

        .fa-files-o {
            font-size: 80px;
        }

        .content-wrapper, .right-side {
            padding-top: 170px;
        }

        .find-text {
            font-size: 16px;
        }

        .find-note-taker .btn-blue {
            width: 100%
        }

        .content {
            padding: 0 15px 23px !important;
        }

        .content-header {
             padding: 20px 10px !important;
        }

        .heading-top h1 {
            font-size: 22px;
        }

        .main-sidebar, 
        .left-side {
            width: 230px !important;
        }

        .main-sidebar, .left-side {
            padding-top: 267px !important;
        }

        .search-top {
            padding: 5px;
            position: absolute;
            top: 20px;
            width: 100%;
        }

        .skin-blue .main-header .navbar .sidebar-toggle {
            color: #fff;
            margin-top: 84px;
            width: 24%;
        }

        .main-header .navbar-custom-menu {
            float: right;
            margin-top: 84px;
        }

        body .navbar-nav > .user-menu > .dropdown-menu {
            top:202px;
        }

        .search-top .form-control {
            font-size: 12px;
        }

        .footer ul {
            text-align: center;
        }

        .main-footer ul li a {
            margin-left: 0px;
            margin-right: 5px;
            color: #fff;
        }

        .main-footer {
            text-align: center;
        }

        .footer {
            height: auto !important;
            padding-top: 10px;
        }

        .copright-text{
            text-align: center;
            color:#fff;
        }

    }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {

            .find-note-taker-view.text-right {
                text-align: left;
            }

            .find-note-taker-view {
                margin-top: 81px;
            }

            .file-name,
            .fav-price {
                font-size: 16px;
            }

            .heading-top h1 {
                font-size: 25px;
            }

            .fa-files-o,
            .fa-graduation-cap{
                font-size: 80px;
            }

            .search-top {
                padding: 19px 2px 16px;
            }

            .search-top .form-control {
                font-size: 11px;
            }

            .right-inner-addon .fa-search {
                color: #7d7a7a;
                font-size: 21px;
                padding: 12px 9px;
                pointer-events: none;
                position: absolute;
                right: -2px;
            }

            .bottom-section li a {
                padding: 5px 5px 5px 6px;
            }

            .report span, .add-to-cart span {
                margin-left: 0px;
            }

            .main-footer ul li a {
                color: #fff;
                margin-left: 7px;
                margin-right: 7px;
            }

        }

 @media only screen and (min-width: 320px) and (max-width: 1024px) 
{
         .add_button, .my-search button, .small_buttons, .submit_black, .Educational-info .nav-tabs > li a{ padding:0px 20px; }
         body .modal-content{ width: 100%; }
        .heading-top{ width:100%; }

}


@media only screen and (min-width: 1200px) and (max-width: 1850px) { 
            .favorites-box .col-lg-2 {
                width: 25%
           }

           .search-top .form-control {
            font-size: 13px;
           }

          .set-width {
            width: 50%;
           }
          .upload-auth-box .col-lg-offset-3 {
                margin-left: 16%;
            }
          



           }


@media only screen and (min-width: 320px) and (max-width: 1200px) {

.table-responsive{ overflow-x:auto;  }
body table.table.shoping-cart-table{ min-width:1024px; }

}


@media only screen and (min-width: 1200px) and (max-width: 1628px) {
                .favt-view-file {
                    width: 382px;
                }

                .find-note-taker-view {
                    margin-top: 95px;
                    width: 550px;
                }
                .upload-reg .upload-notes {
                        font-size: 22px;
                    }

}

.select-custom {
  width:80px !important;
}
@media only screen and (min-width: 320px) and (max-width: 1368px) {
  .list_table{ width:1310px; }


  }
label.pass {
  color:#fff;
}