 <div class="modal Educational-info schedule fade" id="add-client" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="#" class="border_radius" data-toggle="modal" data-dismiss="modal">X</a>
            <div class="modal-header">
                <h4 class="modal-title text-center"><?php echo __('Add Client'); ?></h4>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <div class="modal-body">
                        <?php
                            echo $this->Form->create('add-client',
                                    [
                                        'id' => 'add-client',
                                        'class' => 'form-horizontal',
                                        'url' => [
                                            'controller' => 'Clients',
                                            'action' => 'addClient'
                                        ]
                                    ]
                                );
                        ?>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Client Full Name'); ?></label>
                                <div class="col-sm-8">
                                   <?php
                                        echo $this->Form->input('name',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Client name'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Phone Number'); ?></label>
                                <div class="col-sm-8">
                                    <?php
                                        echo $this->Form->input('phone',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Client Phone Number'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Facebook URL'); ?></label>
                                <div class="col-sm-8">
                                    <?php
                                        echo $this->Form->input('fb_url',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Facebook URL'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Address'); ?></label>
                                <div class="col-sm-8">
                                   <?php
                                        echo $this->Form->input('address',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Client Address'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Zip Code'); ?></label>
                                <div class="col-sm-8">
                                   <?php
                                        echo $this->Form->input('zipcode',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Zip Code'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-4 control-label"><?php echo __('Email Address'); ?></label>
                                <div class="col-sm-8">
                                   <?php
                                        echo $this->Form->input('email',
                                                array(
                                                        'class' => 'form-control',
                                                        'placeholder' => __('Client Email Address'),
                                                        'div' => false,
                                                        'label' => false
                                                    )
                                            );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group bordered_group"> 
                                <label  class="col-sm-4 control-label"></label>
                                <div class="col-lg-8">  
                                    <?php
                                        echo $this->Form->button(__('Submit'), [
                                                'type' => 'submit',
                                                'class' => 'btn submit-info submit_black'
                                            ]
                                        );
                                    ?>
                                    <?php
                                        echo $this->Form->button(__('Cancel'), [
                                                'type' => 'button',
                                                'class' => 'btn submit-info submit_black',
                                                'data-dismiss' => 'modal'
                                            ]
                                        );
                                    ?>
                                </div>
                            </div>
                        <?php echo $this->Form->end(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
